In [1]:
from utils import db_utils
from utils import iefp_data_utils

In [2]:
conn = db_utils.connect_to_db()

In [3]:
movements = db_utils.read_table(conn,'cascais_v2','movement')

In [4]:
movements.shape

(1244698, 7)

In [5]:
applications = db_utils.read_table(conn,'cascais_v2','application')

In [6]:
applications.shape

(125029, 61)

In [7]:
clean_apps = iefp_data_utils.clean_applications(applications,'1980-01-01','2016-04-30')

In [8]:
clean_apps.shape

(108801, 62)

In [11]:
clean_apps.sort_values(['table_index','ute_id']).head()[['table_index','ute_id']]

   table_index   ute_id
0            1  1058797
1            2  1062047
2            3  1080395
3            4  1194683
4            5  1199775

In [12]:
clean_movs = iefp_data_utils.clean_movements(movements,'1980-01-01','2017-04-30')

In [13]:
clean_movs.shape

(1145246, 7)

In [14]:
clean_movs2 = iefp_data_utils.clean_movements(movements, '1980-01-01','2017-04-30',clean_apps['table_index'])

In [15]:
clean_movs2.shape

(1028041, 7)

In [16]:
clean_movs2.sort_values(['application_id','ute_id']).head()[['application_id','ute_id']]

       application_id   ute_id
51955               1  1058797
51956               1  1058797
51957               1  1058797
52311               2  1062047
52312               2  1062047

In [ ]:
clean_data =